*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}
a{
  text-decoration: none;
  color:inherit
}






@media screen and (max-width: 768px) {
  :root {
    --_size: 1.3rem;
  }
}

/* prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  :root {
    --_tspeed_slow: 50ms;
    --_tspeed_fast: 50ms;
  }
}


.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  height: 100vh;
}

h1 {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

.btn :where(svg, img, span) {
  pointer-events: none;
}

.btn :where(svg, img) {
  width: var(--_size);
  height: var(--_size);
}

.btn:where(:active, :hover) {
  background-color: hsl(var(--accent) / 0.7);
  box-shadow: 0 0 0 hsl(var(--accent) / 0.3), 0 0 0 -0.1em hsl(var(--bg)),
    0 0 0 -0.2em hsl(var(--accent));
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  box-shadow: 0 0 0 hsl(var(--accent) / 0.3), 0 0 0 0.2em hsl(var(--bg)),
    0 0 0 0.4em hsl(var(--accent) / 0.7);
}

td>input {
  font: inherit;
  border: none;
}
